section {
  border: 1px solid gray;
  padding: 10px 10px 60px;
  width: 780px;
}

aside {
  border: 1px solid black;
  display: inline-block;
}

.relative {
  background-color: yellow;
  height: 200px;
  left: 0;
  margin: 0 25px;
  position: relative;
  top: 0;
  width: 200px;
}

.absolute-1 {
  background-color: lightgreen;
  bottom: 33%;
  left: 33%;
  position: absolute;
  right: 33%;
  top: 33%;
}

.absolute-2 {
  background-color: cyan;
  bottom: 150px;
  left: 0;
  position: absolute;
  right: 20px;
  top: 0;
}

.absolute-3 {
  background-color: pink;
  bottom: -50px;
  left: 100px;
  position: absolute;
  right: -40px;
  top: 150px;
}

.unpositioned {
  background-color: black;
  height: 100px;
  width: 100px;
}
