html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ececec;
}

section {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
}

section::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 70%;
  float: left;
  padding: 1rem;
  background-color: #f1d1f1;
}

aside {
  padding: 1rem;
  float: none;
  overflow: hidden;
  background-color: #f1af31;
}

footer {
  padding: 1rem;
  clear: both;
  background-color: #31af31;
}
