body {
  background-color: #ffffe0;
}

p {
  font-size: 24px;
}

h1 {
  text-align: center;
  color: orange;
}

strong {
  color: blue;
  text-decoration: underline;
}

em {
  color: red;
}

.more-text {
  color: gray;
}

#final-paragraph {
  text-decoration: underline;
}
