<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <%= yield %>
    <hr>
    <p>Total Users: <%= @users.size %></p>
    <p>Total Interests: <%= count_interests %></p>
  </body>
</html>
