<h2>The page you're looking for is not available.</h2>

<h2>Available Users:</h2>
<ul>
  <% @users.keys.each do |user| %>
    <li><a href="/users/<%= user.to_s %>"><%= user.to_s.capitalize %></a></li>
  <% end %>
</ul>

<a href="/">Back to all users</a>
