<h2>User Info</h2>
<ul>
  <li><strong>Email</strong>: <%= @users[@name][:email] %></li>
  <li><strong>Interests</strong>: <%= @users[@name][:interests].join(', ') %></li>
</ul>

<h2>Other Users</h2>
<ul>
  <% @users.keys.reject { |user| user == @name }.each do |user| %>
    <li><a href="/users/<%= user.to_s %>"><%= user.to_s.capitalize %></a></li>
  <% end %>
</ul>

<a href="/">Back to all users</a>
