body {
  margin-left: 25px;
  font-family: serif;
  font-size: 14px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.morning p {
  font-weight: bold;
}

.afternoon h2 {
  color: blue;
}

.afternoon p {
  font-style: italic;
}

.evening h2 {
  color: purple;
}
