h1 {
  margin: 20px;
}

span {
  color: blue;
  position: absolute;
  font-size: 20px;
  top: -3px;
}

.horizontal {
  top: -15px;
  left: 0px;
}

.container {
  align-items: center;
  display: flex;
  height: 225px;
}

.conatiner::after {
  clear: both;
  content: "";
  display: block;
}

.inner-container {
  position: relative;
}

.item {
  border: 1px solid green;
  margin: 10px 25px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 130px;
}

.top-only {
  background-color: salmon;
  top: 20px;
}

.bottom-only {
  background-color: lightgreen;
  bottom: 20px;
}

.top-and-bottom {
  background-color: salmon;
  top: 20px;
  bottom: 20px;
}

.left-only {
  background-color: salmon;
  left: 20px;
}

.right-only {
  background-color: lightgreen;
  right: 20px;
}

.left-and-right {
  background-color: salmon;
  left: 20px;
  right: 20px;
}

.measure {
  background-color: #ccc;
  font-size: 10px;
  font-weight: bold;
  padding: 3px;
  position: absolute;
}

.from-top {
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;
  top: 60px;
  left: 58px;
}

.from-bottom {
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;
  top: 84px;
  left: 45px;
}

.from-left {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  font-size: 8px;
  left: 25px;
  top: 70px;
}

.from-right {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  font-size: 8px;
  left: 157px;
  top: 70px;
}
