html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  background-color: #ffd505;
  margin: 0 auto;
  max-width: 900px;
}

header {
  background-color: #047ec1;
  color: #fff;
}

@media screen and (min-width: 900px) {
  header {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

h1 {
  font-size: 1.875rem;
  padding: 35px 0 35px 25px;
}

main {
  background-color: #ececec;
  margin: 30px 0;
  padding: 30px;
}

h2 {
  font-size: 1.5rem;
}

.product-box-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  justify-items: center;
  margin-top: 30px;
}

.product-box {
  background-color: #fff;
  height: 230px;
  padding: 20px;
  width: 200px;
}

.product-box figure {
  height: 80%;
  text-align: center;
}

.product-box img {
  height: 90%;
  margin-bottom: 25px;
  max-width: 100%;
}

input[type="checkbox"]:checked + figure img {
  height: auto;
  left: 50%;
  margin: 0 0 0 -200px;
  position: absolute;
  top: 100px;
  width: 400px;
  z-index: 2;
}

input[type="checkbox"]:checked + figure::before {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  content: "";
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

input[type="checkbox"] {
  display: none;
}
