<p>
  <ul>
    <% @files.each do |file|  %>
      <li><a href='<%= file.split('.').first %>'><%= file %></a><br></li>
    <% end %>
  </ul>
</p>

<% unless @params['sort'] == 'descending' %>
  <a href="?sort=descending">Sort Descending</a>
<% else  %>
  <a href="/">Sort Ascending</a>
<% end %>
