h1 {
  margin: 20px;
}

span {
  color: blue;
  position: absolute;
  font-size: 20px;
  top: -3px;
}

.horizontal {
  top: -15px;
  left: 0;
}

.container {
  align-items: center;
  display: flex;
  height: 225px;
}

.conatiner::after {
  clear: both;
  content: "";
  display: block;
}

.inner-container {
  border: 1px solid red;
  position: relative;
}

.item {
  border: 1px solid green;
  margin: 10px 25px;
  padding: 10px;
  text-align: center;
  width: 130px;
}

.fixed {
  background-color: salmon;
  left: 300px;
  position: fixed;
  top: 60px;
}

.measure {
  background-color: #ccc;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.9;
  padding: 3px;
  position: absolute;
}

.from-top {
  border-bottom: 2px solid blue;
  border-top: 2px solid blue;
  left: 358px;
  padding: 27px 5px;
  position: fixed;
  top: 0;
}

.from-left {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  left: 0;
  padding: 5px 116px;
  position: fixed;
  top: 80px;
}
