html {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #2f2840 url("../images/bg_body.gif");
}

header {
  margin: 160px auto 87px;
  text-align: center;
  width: 1000px;
}

h1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

main {
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 1000px;
}

section {
  padding: 92.5px;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 40px;
}

h3 {
  color: #3e98b2;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

footer {
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  margin: 0 auto 143px;
  padding: 32px;
  width: 1000px;
}

footer a {
  margin: 0 60px;
}
