.fixed {
  background-color: #ffc;
  position: absolute;
  box-sizing: border-box;
  padding: 20px 15px;
  width: 400px;
  top: 20px;
  left: 50%;
  margin-left: -200px;
}

.dim {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  padding: 100%;
  z-index: -1;
}

.square {
  background-color: pink;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -10px;
  left: -10px;
}
