html {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  background: #2f2840 url("../images/bg_body.gif");
}

header {
  margin: 135px auto 0;
  text-align: center;
}

h1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

nav {
  margin: 115px 0 50px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 42px 0;
}

nav a {
  color: #cacaca;
  font-size: 1.625rem;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: #fff;
  text-align: center;
  padding-top: 120px;
}

section {
  padding-bottom: 80px;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 45px;
}

h2::before,
h2::after {
  content: "\2022";
  font-size: 20px;
  padding: 0 24px;
  vertical-align: 5px;
}

h3 {
  color: #3e59b2;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 25px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 60%;
}

article p {
  padding-bottom: 40px;
}

article h3 {
  margin-top: 50px;
}

footer {
  background-color: #e7e7e7;
  text-align: center;
}

footer a {
  background: url("../images/icons_social-media.png") no-repeat;
  display: block;
  height: 46px;
  margin: 0 60px;
  overflow: hidden;
  text-indent: -8685px;
  width: 46px;
}

footer p {
  padding: 90px 0 0;
  max-width: 30%;
}

.active a {
  color: #6db9ff;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 45px 0 80px;
}

.twitter {
  background-position: 0 0;
}

.facebook {
  background-position: 0 -46px;
}

.email {
  background-position: 0 -92px;
}

.instagram {
  background-position: 0 -138px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 750px;
  padding-bottom: 225px;
}

main > p {
  padding-bottom: 90px;
}

figcaption {
  color: #3e59b2;
  font-size: 24px;
  margin-top: 35px;
}
