html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 600px;
  margin: auto;
  padding: 24px 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #cecece;
  margin: 5px 0 25px 0;
  padding: 10px;
  font-size: 14px;
}

select {
  margin: 5px 0 25px 0;
}

textarea {
  border: 1px solid #cecece;
  width: 100%;
  resize: vertical;
}

fieldset {
  border: 1px solid #cecece;
}
