<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% unless params.empty? %>
  <h3 class="content-subhead">Results for '<%= params[:query] %>'</h3>
  <% if @results.empty? || params[:query] == '' %>
    <p><%= "Sorry, no matches were found" %></p>
  <% else %>
    <ul>
      <% @results.each do |title, (num, paragraphs)| %>
        <li>
          <h4><%= title %></h4>
          <ul>
            <% paragraphs.each do |index, text| %>
              <li><a href="/chapters/<%= num %>#<%= index %>"><%= highlight(text) %></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
