html {
  /* background-color: #333; */
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #333;
  color: white;
  margin: 0 auto;
}

header {
  padding-top: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

figure {
  margin: 0;
}

figcaption {
  margin: 10px 0 20px;
}

.feature img {
  border: 15px solid white;
  max-width: 100%;
  width: 950px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnails img {
  border: 3px solid white;
  margin-bottom: 30px;
  max-width: 48%;
}

@media only screen and (min-width: 600px) {
  .thumbnails img {
    max-width: 32%;
  }
}

@media only screen and (min-width: 900px) {
  .thumbnails img {
    max-width: 23%;
  }
}

@media only screen and (min-width: 1280px) {
  main {
    flex-direction: row;
    max-width: 100%;
  }

  .thumbnails {
    flex: 1;
    flex-direction: column;
    margin-left: 50px;
  }

  .thumbnails img {
    max-width: unset;
    width: 100%;
  }
}
