html {
  font-size: 20px;
}

nav ul {
  background-color: yellow;
  list-style-type: none;
  padding: 0;
  font-size: 0;
  width: 100%;
}

nav li {
  color: blue;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 25%;
}

nav li:hover {
  color: yellow;
  background-color: green;
}

nav a {
  box-sizing: border-box;
  display: inline-block;
  line-height: 2.5;
  text-decoration: none;
  width: 100%;
}

nav a:hover {
  color: yellow;
}
