html {
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 8px auto;
  width: 1000px;
  border: 2px solid #999;
  padding: 20px;
  color: #545459;
}

h2,
h3,
h4 {
  color: #ce4a4a;
}

h2 {
  margin: 20px 0;
}

h3 {
  font-size: 1.25rem;
  margin: 25px 0 20px;
}

h4 {
  margin: 20px 0 20px;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  line-height: 35px;
  margin-bottom: 25px;
}

pre {
  margin: 43.5px 19.25px 35px;
}

ul {
  margin: 26px 40px 45px;
}

li {
  margin-bottom: 10px;
  font-style: italic;
}

aside {
  border: 2px dashed #555;
  padding: 30px;
  width: 650px;
  margin: 45px;
  overflow: hidden;
}

/* section:not(:first-of-type) { */
/*   margin-bottom: 35px; */
/* } */

.margin {
  margin: 0 30px;
}

.padding {
  padding: 30px;
  background-color: green;
  color: white;
}

.inline-float {
  float: left;
  border: 3px solid darkgreen;
  margin: 15px;
  padding: 25px;
  width: 120px;
  text-align: center;
}

.box1 {
  background-color: dodgerblue;
  color: white;
}

.box2 {
  background-color: green;
  color: white;
  height: 60px;
  margin: 20px;
  padding: 20px;
}

.box3 {
  background-color: tomato;
  color: white;
  width: 90px;
}

.box4 {
  background-color: pink;
  color: white;
  width: 180px;
  height: 120px;
  margin: 20px;
  padding: 20px;
}

.extra-bottom-margin {
  margin-bottom: 35px;
}

.right-float {
  background-color: tomato;
  border: 1px solid red;
  float: right;
  padding: 0;
  margin: 0;
  height: initial;
}

.left-float {
  float: left;
  border: 1px solid red;
}

.box1-width-height,
.box2-width-height {
  color: white;
  text-align: center;
  padding: 26px;
}

.box1-width-height {
  background-color: tomato;
  float: left;
  width: 40%;
}

.box2-width-height {
  background-color: dodgerblue;
  float: right;
  width: 50%;
}

/* .clear-float::before, */
/* .clear-float::after { */
/*   content: ""; */
/*   display: block; */
/* } */

.clear-float {
  height: 39px;
  clear: both;
}

.extra-height {
  height: 89px;
}

.inline-to-block {
  display: block;
  width: auto;
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.nav-bar-container {
  text-align: center;
  margin-top: 45px;
}

.nav-bar {
  display: inline-block;
  background-color: dodgerblue;
  border: 1px solid #1b95e0;
  color: white;
  padding: 20px;
  margin: auto 8px 6px;
  text-align: center;
  width: 180px;
}

.dashed-border {
  border-top: 2px dashed #545459;
  padding-top: 30px;
  text-align: center;
  margin-top: 55px;
}

.box1-block-float {
  color: white;
  background-color: tomato;
  padding: 41px;
  text-align: center;
  width: 450px;
  float: left;
  font-weight: bold;
}

.box2-block-float {
  color: white;
  background-color: dodgerblue;
  padding: 41px;
  text-align: center;
  width: 505px;
  float: left;
  font-weight: bold;
}

.box3-block-float {
  color: white;
  background-color: seagreen;
  padding: 16px 40px;
  text-align: center;
  width: 955px;
  float: left;
  font-weight: bold;
  margin-bottom: 35px;
}

.fixed-position {
  color: white;
  background-color: dodgerblue;
  position: fixed;
  bottom: 50px;
  left: 35px;
  border-radius: 10px;
  padding: 25px 35px;
  width: 225px;
  text-align: center;
}

.relative-position {
  color: white;
  background-color: tomato;
  width: 325px;
  padding: 25px 35px;
  border-radius: 10px;
  position: relative;
  bottom: -45px;
  left: -90px;
  text-align: center;
  z-index: 10;
  margin-bottom: 30px;
}

.absolute-positioning-wrapper {
  position: relative;
  z-index: 5;
}

.absolute-position {
  color: white;
  background-color: green;
  width: 200px;
  padding: 25px 35px;
  border-radius: 10px;
  position: absolute;
  bottom: 118px;
  left: 230px;
  text-align: center;
}
