html {
}

body {
  background: linear-gradient(to bottom, #d2dbbd, #fcfff5) no-repeat;
  color: #3e606f;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

header {
  margin: 0 auto;
  padding: 20px 20px 0;
  width: 960px;
}

h1 {
  background: transparent url("../images/logo.png") no-repeat;
  color: #193441;
  float: left;
  font-weight: normal;
  margin: 0;
  padding: 45px 0 15px 115px;
}

nav {
  float: right;
  padding-top: 75px;
}

nav ul {
  margin: 0;
  padding-inline-start: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
}

nav a {
  background-color: #fcfff5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #91aa9d;
  display: block;
  padding: 10px 40px 14px;
  text-decoration: none;
}

nav a.active {
  background-color: #91aa9d;
  color: #fcfff5;
}

main {
  background: #fff;
  box-shadow: 0 5px 5px #b5b5b5;
  clear: both;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
}

.masthead {
  margin: 0 0 40px 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 25px;
}

p {
  margin: 0;
  padding: 0 0 20px;
}

figure {
  float: right;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
}

footer {
  font-size: 14px;
  margin: 0 auto;
  padding: 15px 0;
  width: 960px;
}
