html {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

header {
  background: url("../images/front.jpg") center no-repeat;
  color: #fff;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

header img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  height: 80px;
  margin-top: 90px;
  width: 80px;
}

nav {
  display: none;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}

header p {
  font-size: 20px;
  line-height: 1.6;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
  text-transform: uppercase;
}

a {
  color: #008000;
  font-weight: bold;
  text-decoration: none;
}

main {
  color: #444;
  font-weight: 300;
  line-height: 1.5;
}

section {
  border-top: 1px solid #efefef;
  margin: 0 30px;
  padding-bottom: 60px;
}

h2 {
  font-size: 48px;
  font-weight: 300;
  padding: 59px 0 31px;
  text-align: center;
}

.centered-section {
  text-align: center;
}

.centered-section p {
  font-weight: 200;
  margin-bottom: 9px;
}

button {
  background-color: #008000;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 30px;
}

button:hover {
  background-color: #006000;
  cursor: pointer;
}

.hover-text {
  display: none;
}

article {
  border: 1px solid #ececec;
  height: 380px;
  margin: 10px auto;
  position: relative;
  width: 282px;
}

article img {
  padding-bottom: 29px;
  width: 100%;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h3 a {
  font-size: 24px;
}

article p {
  padding: 5px 10px;
  text-align: center;
}

article:hover .hover-text {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 300;
  height: 380px;
  line-height: 15px;
  padding: 23px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.hover-text h3 {
  color: #008000;
}

.hover-text p {
  padding-top: 20px;
}

table {
  font-size: 24px;
  text-align: left;
}

tr {
  border-top: 1px solid #efefef;
  display: block;
  position: relative;
}

tr:last-of-type {
  border-bottom: 1px solid #efefef;
}

.profile-image {
  left: 10px;
  position: absolute;
  top: 10px;
}

.profile-image img {
  width: 80px;
}

.time {
  display: block;
  font-weight: 400;
  padding: 20px;
  text-align: right;
}

.title {
  font-weight: 400;
  padding: 8px 10px 27px 8px;
}

.title a {
  font-size: 18px;
}

.tag {
  background-color: #eee;
  border: 1px solid #aaa;
  bottom: 6px;
  display: inline-block;
  font-size: 7px;
  margin: 0 2px;
  padding: 1px 4px;
  position: relative;
}

#location p {
  margin-bottom: 20px;
}

#location p:first-of-type {
  font-weight: 400;
  margin-bottom: 0;
}

.google-maps {
  background-color: #e5e3df;
  content: "";
  height: 500px;
  margin: 30px 0;
  position: relative;
  width: 100%;
}

#call-for-papers p {
  margin-bottom: 20px;
}

#sponsors h3 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  font-weight: 600;
  margin: 0 auto;
  max-width: 980px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.sponsor-images {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px;
  text-align: center;
}

.sponsor-images img {
  max-width: 100%;
}

.silver img {
  max-width: 200px;
}

.support img {
  max-width: 150px;
}

footer {
  background: url("../images/people.jpg") no-repeat center 23%;
  background-size: cover;
  color: #fff;
  padding-bottom: 10px;
}

footer h2 {
  font-size: 35px;
  padding: 22px 16px;
}

.team-block {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 10px 0 10px;
}

.team-block h3 {
  font-size: 31px;
  font-weight: 600;
  margin: 0 auto;
  max-width: 980px;
  text-align: left;
  text-transform: uppercase;
}

.team-block p {
  font-weight: 300;
  margin: 0 auto 20px;
  max-width: 980px;
}

.team-block button {
  margin: 0 auto 20px;
  max-width: 980px;
}

@media screen and (min-width: 588px) {
  section#tickets {
    border-top: none;
  }

  #tickets h2 {
    padding-top: 0;
  }

  .speaker-grid {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
    margin: 0 auto;
    max-width: 1080px;
  }

  article {
    margin: 0 auto;
  }
}

@media screen and (min-width: 655px) {
  header {
    height: 538px;
  }

  nav {
    border-bottom: 1px solid #f5f5f5;
    border-top: 10px solid #eee;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  nav ul {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  nav li {
    font-size: 13px;
    margin: 13px 26.75px;
    text-transform: uppercase;
  }

  nav a {
    color: #444;
    font-weight: 400;
  }

  a:hover {
    text-decoration: underline;
  }

  header img {
    margin-top: 205px;
  }

  h1 {
    font-size: 72px;
    line-height: 1.35;
  }

  header p {
    font-size: 31px;
  }

  table {
    margin: 0 auto;
    max-width: 960px;
  }

  tr {
    align-items: center;
    display: flex;
  }

  td {
    margin: 9px 10px 12px 10px;
  }

  .time {
    padding: 0;
    text-align: left;
    width: 65px;
  }

  .title {
    flex: 1;
    padding: 0;
  }

  .profile-image {
    position: static;
  }

  .profile-image img {
    width: 130px;
  }

  .sponsor-images {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 980px;
  }

  footer h2 {
    font-size: 48px;
  }
}

@media screen and (min-width: 943px) {
  .speaker-grid {
    grid-template-columns: repeat(3, 282px);
  }

  #location, #call-for-papers {
    margin: 0 auto;
    max-width: 960px;
  }
}
