html {
  font: normal 24px Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

h1 {
  background-color: blue;
  color: white;
  margin: 0;
  padding: 24px 0;
}

header {
  text-align: center;
}

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
}

li {
  text-align: center;
  width: 20%;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

main {
  display: flex;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
  flex: 1;
}

article {
  flex: 2;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
  display: flex;
  align-items: center;
}

#copyright {
  margin: 0 1rem;
  flex-basis: 75%;
  text-align: right;
}

#logo {
  background-color: orange;
  order: -1;
}

img {
  display: block;
  height: 200px;
}
