html {
  box-sizing: border-box;
  font-size: 28px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 680px;
  border: 2px solid black;
  padding: 10px 15px;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-family: "Franklin Gothic Heavy", sans-serif;
  font-size: 2rem;
  margin: 0;
}

dl {
  margin: 0;
}

dt {
  display: inline-block;
}

dd {
  display: inline-block;
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* Alignment for % Daily Value */
thead {
  text-align: right;
}

tbody th {
  text-align: left;
  border-top: 1px solid black;
  padding: 2px 0;
}

/* No top border for % Daily Value */
thead tr th {
  border: 0;
  padding: 1px;
}

tbody td {
  border-top: 1px solid black;
  text-align: right;
  padding: 2px 0;
  font-weight: bold;
}

tfoot td {
  padding: 14px 0 14px 19.5px;
  vertical-align: top;
  font-size: 0.9rem;
  text-indent: -19.5px;
  text-align: left;
}

tbody td:nth-of-type(2) {
  text-align: left;
  font-weight: normal;
}

tbody tr:last-of-type {
  border-bottom: 20px solid black;
}

tbody:nth-of-type(2) td {
  text-align: left;
}

/* Remove padding for Calories: 2,000 2,500 columns */
table:nth-of-type(2) td {
  /* width: 25%; */
  text-align: left;
  font-weight: normal;
  border-top: 0;
}

tbody:nth-of-type(2) td:nth-of-type(2) {
  text-align: right;
}

tbody:nth-of-type(2) td:first-of-type {
  padding-top: 2px;
  font-weight: normal;
}

/* Remove border for Calories: 2,000 2,500 rows */
table:nth-of-type(2) tr {
  border: 0;
}

tbody:nth-of-type(2) tr:last-of-type {
  border-bottom: 1px solid black;
}

/* Font size for Calories: 2,000 2,500 table */
table:nth-of-type(2) {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

/* Remove bold and alignment for Calories: 2,000 2,500 table headers */
table:nth-of-type(2) th {
  font-weight: normal;
  text-align: left;
}

/* Width of row header column */
table:nth-of-type(2) tr th {
  border-top: 0;
}

/* Width of Calories columns */
table:nth-of-type(2) tr th:nth-of-type(2) {
  width: 21.15%;
}

/* Alignment for Calories: 2,000 2,500 Column Headers */
table:nth-of-type(2) th[scope="col"] {
  text-align: left;
  border-bottom: 1px solid black;
}

/* Alignment for first header column of Calories: 2,000 2,500 Column Headers */
table:nth-of-type(2) th[scope="col"]:first-of-type {
  width: 37.25%;
}

/* Left padding for Sat Fat and Dietary Fiber */
table:nth-of-type(2) tr:nth-of-type(2) th,
table:nth-of-type(2) tr:nth-of-type(6) th {
  padding-left: 33.65px;
}

header {
  margin-bottom: 10px;
  border-bottom: 15px solid black;
}

header p {
  margin: 0;
}

header dl {
  display: inline-block;
  width: 50%;
  padding: 5px 0;
}

header dl + dl {
  text-align: right;
}

header dl:first-of-type dt {
  font-weight: bold;
}

/* Amount Per Serving */
h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 1rem;
  margin-top: 5px;
  border-top: 30px solid black;
  border-bottom: 1px solid black;
}

/* Superscript for % Daily Value */
sup {
  vertical-align: 3px;
}

.indent {
  width: 1rem;
  border-top: 0;
}
