html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to bottom, #d1dbbd, #fbfff5) no-repeat;
  color: #3e606f;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

header {
  margin: 0 auto;
  padding: 20px;
  width: 960px;
}

h1 {
  background: url("../images/logo.png") no-repeat;
  color: #193441;
  float: left;
  font-size: 36px;
  font-weight: normal;
  padding: 45px 0 15px 115px;
}

nav {
  float: right;
  margin-top: 75px;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav li a {
  color: #91aa9d;
  background-color: #fcfff5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: block;
  padding: 10px 40px 14px;
  text-decoration: none;
}

.active {
  background-color: #91aa9d;
  color: #fcfff5;
}

main {
  background-color: #fff;
  box-shadow: 0 5px 5px #b5b5b5;
  clear: both;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 30px 50px 30px;
  width: 960px;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 35px 0 25px;
}

p {
  padding: 0 0 20px 0;
}

figure {
  float: right;
  padding: 0 0 0 30px;
}

footer {
  font-size: 14px;
  margin: 0 auto;
  padding: 15px 0;
  width: 960px;
}
