* {
  margin: 0;
  padding: 0;
}

html {
  font: normal 24px Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "aside-1 article-1 aside-2"
    "aside-3 article-2 article-2"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
}

header,
h1 {
  background-color: blue;
  color: white;
}

header {
  grid-area: header;
  padding: 1rem;
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: cyan;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

#aside-1 {
  grid-area: aside-1;
}

#aside-2 {
  grid-area: aside-2;
}

#aside-3 {
  grid-area: aside-3;
  background-color: pink;
}

#aside-4 {
  grid-area: aside-4;
}

#article-1 {
  grid-area: article-1;
}

#article-2 {
  grid-area: article-2;
  background-color: skyblue;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
  grid-area: footer;
  display: grid;
  grid-template-areas: "logo copyright";
  grid-template-columns: 1fr 3fr;
}

#copyright {
  align-self: center;
  justify-self: right;
  grid-area: copyright;
  margin: 0 1rem;
}

#logo {
  grid-area: logo;
  background-color: orange;
}

img {
  display: block;
  width: 100%;
}
